{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

{{dump(articlesBDD)}} 


       <div class="row mb-2">

{% for oneArticle in articlesBDD %}
{#  {{dump(oneArticle)}}  #}

            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-md-7 p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>

                        <h3 class="mb-0"></h3>
                        <div class="mb-1 text-muted">{{oneArticle.date |date("m/d/Y")}} à {{ oneArticle.date|date("H/i/s")}}</div>
                        <p class="card-text mb-auto">{{oneArticle.contenu|slice(0,80)|raw }} [...]</p>
                        <a href="{{path('blog_show', {'id': oneArticle.id}) }}" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src = "{{oneArticle.Image}}" alt="{{oneArticle.title}}" class="col-md-12">
                    </div>
                </div>
            </div>   
{% endfor %}

        </div>

{% endblock %}
