{% extends "base.html.twig"%}

{% block title %}
blog / detail
{% endblock %}

{% block body %}

   {# {{dump(articleBDD)}} #}

  

    <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
                <div class="col-md-7 p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">{{articleBDD.category.titre}}</strong>
                        
                        <h3 class="mb-0">{{articleBDD.title }}</h3>
                        
                        <div class="mb-1 text-muted">{{articleBDD.date |date("m/d/Y")}} à {{ articleBDD.date|date("H/i/s")}}
                        </div>

                        <p class="card-text">{{articleBDD.contenu|raw }} </p>
                        <a href="{{ path('blog') }}" >retourZ'Ô Z'articles</a>
                        <a href="{{ path('blog_edit',{'id': articleBDD.id}) }}" >modifier</a>
                </div>

                <div class="col-md-5 d-none d-lg-block">
                    <img src = "{{articleBDD.Image}}" alt="{{articleBDD.title}}" class="col-md-12">
                </div>
            </div>

            <h4 class="mt-5 mb-2"> Donner votre Avis...</h4>
            {{form_start(formComment)}}
                {{form_row(formComment.auteur)}}
                {{form_row(formComment.commentaire)}}

                <button type="submit" class="btn btn-dark mt-2"> envoyer</button>
                
            {{form_end(formComment)}}






            
            <h4 class="mt-5 mb-2">Vos reactions...</h4>
            
            <div class="row">
                {% for oneComment in articleBDD.comments %}

                   {#    {{dump(oneComment)}}#}

                   <div class ="row shadow rounded mx-0 px-0 mb-2">
                        <div class=" col-md-4 py-2">
                             <strong>{{ oneComment.auteur }}</strong>
                             <small class = "fst-italic">posté le {{ oneComment.date|date('d/m/Y à H:i:s')}} </small>
                        </div>
                        <div class="col-md-8 py-2">
                            {{ oneComment.commentaire | raw}}
                        </div>
                   </div>

               {% endfor %} 
                
               
                
            </div>
    </div>

{% endblock %}
