{% extends "base.html.twig"%}

{% block title %}
blog / detail
{% endblock %}

{% block body %}

   {# {{dump(articleBDD)}} #}

  

    <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
                    <div class="col-md-7 p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">CouCou</strong>
                        <h3 class="mb-0">{{articleBDD.title }}</h3>
                            <div class="mb-1 text-muted">{{articleBDD.date |date("m/d/Y")}} à {{ articleBDD.date|date("H/i/s")}}
                            </div>
                        <p class="card-text">{{articleBDD.contenu|raw }} </p>
                        <a href="{{ path('blog') }}" >retourZ'Ô Z'articles</a>
                        <a href="{{ path('blog_edit',{'id': articleBDD.id}) }}" >modifier</a>
                    </div>

                    <div class="col-md-5 d-none d-lg-block">
                         <img src = "{{articleBDD.Image}}" alt="{{articleBDD.title}}" class="col-md-12">
                    </div>
                </div>
      </div>

{% endblock %}
